/* =================== helper =================== */
// 노출되지 않을 영역
.none {
  display: none;
}

// 보이진 않지만 리딩되는 영역
.voice-only {
  @include absolute($l: -9999rem);

  font-size: 0;
}

// 영어, 숫자만 있는 콘텐츠
.is-en {
  letter-spacing: 0;
}

// 브라우저 크기별 레이아웃 보이기
.tab-show {
  display: none;
  @include tablet {
    display: block;
  }
}

.tab-hide {
  @include tablet {
    display: none;
  }
}

.mb-show {
  display: none;
  @include mobile {
    display: block;
  }
}

.mb-hide {
  @include mobile {
    display: none !important;
  }
}

.sm-show {
  display: none;
  @include media(360px) {
    display: block;
  }
}

.sm-hide {
  @include media(360px) {
    display: none !important;
  }
}

.xsm-show {
  display: none;
  @include media(320px) {
    display: block;
  }
}

.xsm-hide {
  @include media(320px) {
    display: none !important;
  }
}

// flexible content wrap
.clear:after {
  content: "";
  display: block;
  clear: both;
}

// scroll custom element에 height 지정 필수
.scroll-custom {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color(sub);
  }

  @include ie-style {
    scrollbar-arrow-color: color(main);
    scrollbar-face-color: color(main);
    scrollbar-track-color: color(sub);
  }
}
