/* =================== helper =================== */
.is-none {
  display: none;
}

// 브라우저 크기별 레이아웃 보이기
.is-tab-show {
  display: none;
  @include media(tab) {
    display: block;
  }
}

.is-tab-hide {
  @include media(tab) {
    display: none;
  }
}

.is-mo-show {
  display: none;
  @include media(mb) {
    display: block;
  }
}

.is-mo-hide {
  @include media(mb) {
    display: none;
  }
}

.is-mo-sm-show {
  display: none;
  @include media-custom(360px) {
    display: block;
  }
}

.is-mo-sm-hide {
  @include media-custom(360px) {
    display: none;
  }
}

.is-mo-xsm-show {
  display: none;
  @include media-custom(320px) {
    display: block;
  }
}

.is-mo-xsm-hide {
  @include media-custom(320px) {
    display: none;
  }
}

// image
.img-box {
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// 반응형 이미지
.respon-img {
  &__box {
    position: relative;
    width: 100%;
    padding-top: 50%;

    img {
      @include absolute;
      @include wh(100%, 100%);

      object-fit: cover;
    }
  }
}

// flexible content wrap
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.flex-wrap {
  @include flex {
    @include flex-op(center, space-between);
  }

  width: 100%;

  &--left {
    @include flex {
      @include flex-op(center, flex-start);
    }

    width: 100%;
  }

  &--center {
    @include flex {
      @include flex-item-center();
    }

    width: 100%;
  }

  &--right {
    @include flex {
      @include flex-op(center, flex-end);
    }

    width: 100%;
  }

  &--vertical {
    @include flex-col {
      @include flex-item-center();
    }

    width: 100%;
  }
}

// scroll custom element에 height 지정 필수
.scroll-custom {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color(sub);
  }

  @include ie-style {
    scrollbar-arrow-color: color(main);
    scrollbar-face-color: color(main);
    scrollbar-track-color: color(sub);
  }
}
