/* =================== helper =================== */
// 노출되지 않을 영역
.none {
  display: none;
}

// 보이진 않지만 리딩되는 영역
.voice-only {
  @include absolute($l: -9999rem);

  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

// flexible content wrap
.clear:after {
  content: "";
  display: block;
  clear: both;
}

// scroll custom element에 height 지정 필수
.scroll-custom {
  overflow-y: auto;

  @include custom-scroll($c: color(main));
}

// 브라우저 크기별 레이아웃 보이기(노출 여부)
// 태블릿
.tab-hide {
  @include media-size(tab) {
    display: none !important;
  }
}

.tab-show {
  display: none !important;

  @include media-size(tab) {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;

  @include media-size(tab) {
    display: flex !important;
  }
}

// 모바일
.mb-hide {
  @include media-size(sm) {
    display: none !important;
  }
}

.mb-show {
  display: none !important;

  @include media-size(sm) {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;

  @include media-size(sm) {
    display: flex !important;
  }
}

// 360px
.sm-hide {
  @include media(360px) {
    display: none !important;
  }
}

.sm-show {
  display: none !important;

  @include media(360px) {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;

  @include media(360px) {
    display: flex !important;
  }
}