/* =================== typo =================== */
/* noto sans kr */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: local("noto sans kr black"), local("Noto Sans KR Black"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype");
}
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: local("noto sans kr bold"), local("Noto Sans KR Bold"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: local("noto sans kr medium"), local("Noto Sans KR Medium"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: local("noto sans kr regular"), local("Noto Sans KR Regular"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "noto";
  font-weight: 300;
  src: local("noto sans kr light"), local("Noto Sans KR Light"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype");
}
@font-face {
  font-family: "noto";
  font-weight: 200;
  src: local("noto sans kr demilight"), local("Noto Sans KR DemiLight"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype");
}
@font-face {
  font-family: "noto";
  font-weight: 100;
  src: local("noto sans kr thin"), local("Noto Sans KR Thin"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype");
}

/* spoqa han sans */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: local("spoqa han sans bold"), local("Spoqa Han Sans Bold"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Bold.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Bold.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: local("spoqa han sans regular"), local("Spoqa Han Sans Regular"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Regular.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Regular.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: local("spoqa han sans light"), local("Spoqa Han Sans Light"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Light.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Light.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Light.ttf") format("truetype");
}
@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: local("spoqa han sans thin"), local("Spoqa Han Sans Thin"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Thin.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Thin.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Thin.ttf") format("truetype");
}

/* helvetica neue */
@font-face {
  font-family: "helvatica";
  font-weight: 800;
  src: local("helvatica neue hv"), local("Helvatica Neue Hv"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.otf")
      format("opentype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.ttf")
      format("truetype");
}
@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: local("helvatica neue bd"), local("Helvatica Neue Bd"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.otf")
      format("opentype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.ttf")
      format("truetype");
}
@font-face {
  font-family: "helvatica";
  font-weight: 400;
  src: local("helvatica neue roman"), local("Helvatica Neue Roman"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff")
      format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.otf")
      format("opentype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.ttf")
      format("truetype");
}
@font-face {
  font-family: "helvatica";
  font-weight: 300;
  src: local("helvatica neue lt"), local("Helvatica Neue Lt"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.otf")
      format("opentype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.ttf")
      format("truetype");
}

/* poppins */
@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: local("poppins-Black"), local("poppins-Black"),
    url("../../fonts/poppins/Poppins-Black.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Black.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: local("poppins-ExtraBold"), local("poppins-ExtraBold"),
    url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: local("poppins-Bold"), local("poppins-Bold"),
    url("../../fonts/poppins/Poppins-Bold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: local("poppins-SemiBold"), local("poppins-SemiBold"),
    url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: local("poppins-Medium"), local("poppins-Medium"),
    url("../../fonts/poppins/Poppins-Medium.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: local("poppins-Regular"), local("poppins-Regular"),
    url("../../fonts/poppins/Poppins-Regular.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: local("poppins-Light"), local("poppins-Light"),
    url("../../fonts/poppins/Poppins-Light.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: local("poppins-ExtraLight"), local("poppins-ExtraLight"),
    url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"),
    url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: local("poppins-Thin"), local("poppins-Thin"),
    url("../../fonts/poppins/Poppins-Thin.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype");
}

:root {
  word-break: break-all;
  color: color(text);
  stroke-width: 0;
}
