/* noto sans kr */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: local("noto sans kr black"), local("Noto Sans KR Black"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: local("noto sans kr bold"), local("Noto Sans KR Bold"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: local("noto sans kr medium"), local("Noto Sans KR Medium"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: local("noto sans kr regular"), local("Noto Sans KR Regular"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 300;
  src: local("noto sans kr light"), local("Noto Sans KR Light"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 200;
  src: local("noto sans kr demilight"), local("Noto Sans KR DemiLight"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face {
  font-family: "noto";
  font-weight: 100;
  src: local("noto sans kr thin"), local("Noto Sans KR Thin"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"),
    url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
}

/* spoqa han sans */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: local("spoqa han sans bold"), local("Spoqa Han Sans Bold"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Bold.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Bold.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: local("spoqa han sans regular"), local("Spoqa Han Sans Regular"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Regular.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Regular.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: local("spoqa han sans light"), local("Spoqa Han Sans Light"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Light.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Light.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Light.ttf") format("truetype");
}
@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: local("spoqa han sans thin"), local("Spoqa Han Sans Thin"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Thin.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Thin.woff") format("woff"),
    url("../../fonts/SpoqaHanSans/Spoqa_Han_Sans_Thin.ttf") format("truetype");
}

/* helvetica neue */
@font-face {
  font-family: "helvatica";
  font-weight: 800;
  src: local("helvatica neue hv"), local("Helvatica Neue Hv"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.ttf")
      format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.otf")
      format("opentype");
}
@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: local("helvatica neue bd"), local("Helvatica Neue Bd"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.ttf")
      format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.otf")
      format("opentype");
}
@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: local("helvatica neue roman"), local("Helvatica Neue Roman"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff")
      format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.ttf")
      format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.otf")
      format("opentype");
}
@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: local("helvatica neue lt"), local("Helvatica Neue Lt"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff2")
      format("woff2"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff") format("woff"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.ttf")
      format("truetype"),
    url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.otf")
      format("opentype");
}

:root {
  font-family: "helvatica", "noto", "spoqa", sans-serif;
  word-break: break-all;
  font-size: 16px;
  line-height: 1.15;
  color: $black;
  letter-spacing: -0.04em;
  stroke-width: 0px;
}
