.guide {
  padding: 100px 0;
}

.section-title {
  padding: 10px 0;
  margin: 10px 0;
  background-color: #9999ff;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.desc {
  margin-bottom: 20px;
  line-height: 1.5;
}

.scroll-guide .scroll-custom {
  height: 100px;
  padding: 20px;
  background-color: #f5f5f5;
}

.flex-items {
  width: 100px;
  height: 50px;
  border: 1px solid red;
}

.list-wrap {
  border: 1px solid #9999ff;
}
.list-wrap .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 20px;
  border-top: 1px solid #9999ff;
}
.list-wrap .list:first-child {
  border: 0;
}
.list-wrap .list-title {
  width: 250px;
  padding: 20px 0;
}
.list-wrap .list-desc {
  width: 100%;
  padding: 20px 10px;
  border-left: 1px solid #9999ff;
}

.show-guide .list {
  height: 60px;
}

.write-rating .rating__score {
  height: 20px;
  opacity: 1;
  background-color: beige;
}

.btn-guide .list-desc {
  position: relative;
}
.btn-guide .btns-wrap-fixed {
  position: absolute;
  bottom: auto;
  left: 0;
}

.btn {
  width: 300px;
}