@charset "UTF-8";
/* =================== base =================== */
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "helvatica", "noto", "spoqa", sans-serif;
  letter-spacing: -0.04em;
  word-break: break-all;
}

html,
body,
a,
address,
article,
aside,
b,
button,
dd,
div,
dl,
dt,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
menu,
menuitem,
nav,
ol,
optgroup,
option,
output,
p,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tspan,
u,
ul {
  stroke-width: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

select {
  padding: 5px 10px;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 300;
  src: url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 200;
  src: url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
}

@font-face {
  font-family: "noto";
  font-weight: 100;
  src: url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
}

/* ---------- helvetica neue ---------- */
@font-face {
  font-family: "helvatica";
  font-weight: 800;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.otf") format("opentype");
}

@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
  font-family: "helvatica";
  font-weight: 400;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "helvatica";
  font-weight: 300;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.otf") format("opentype");
}

/* ---------- open sans ---------- */
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: url("../../fonts/open_sans/OpenSans-ExtraBold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-ExtraBold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "open sans";
  font-weight: 700;
  src: url("../../fonts/open_sans/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Bold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Bold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "open sans";
  font-weight: 600;
  src: url("../../fonts/open_sans/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: url("../../fonts/open_sans/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Regular.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "open sans";
  font-weight: 300;
  src: url("../../fonts/open_sans/OpenSans-Light.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Light.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Light.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Light.otf") format("opentype");
}

/* ---------- nanum square ---------- */
@font-face {
  font-family: "nanum square";
  font-weight: 800;
  src: url("../../fonts/nanumsquare/NanumSquare_acEB.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acEB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acEB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acEB.otf") format("opentype");
}

@font-face {
  font-family: "nanum square";
  font-weight: 600;
  src: url("../../fonts/nanumsquare/NanumSquare_acB.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acB.otf") format("opentype");
}

@font-face {
  font-family: "nanum square";
  font-weight: 400;
  src: url("../../fonts/nanumsquare/NanumSquare_acR.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acR.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acR.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acR.otf") format("opentype");
}

@font-face {
  font-family: "nanum square";
  font-weight: 300;
  src: url("../../fonts/nanumsquare/NanumSquare_acL.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acL.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acL.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acL.otf") format("opentype");
}

/* ---------- spoqa han sans neo ---------- */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.otf") format("opentype");
}

/* ---------- poppins ---------- */
@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: url("../../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Black.woff") format("woff"), url("../../fonts/poppins/Poppins-Black.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Black.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("../../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Bold.woff") format("woff"), url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Bold.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("../../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: url("../../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Medium.woff") format("woff"), url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Medium.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Regular.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: url("../../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Light.woff") format("woff"), url("../../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Light.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: url("../../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: url("../../fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Thin.woff") format("woff"), url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Thin.otf") format("opentype");
}

/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 300;
  src: url("../../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Thin.otf") format("opentype");
}

@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
}

@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
}

@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
}

@font-face {
  font-family: "roboto";
  font-weight: 800;
  src: url("../../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Black.woff") format("woff"), url("../../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Black.otf") format("opentype");
}

/* =================== helper =================== */
.none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  font-size: 0;
}

.is-en {
  letter-spacing: 0;
}

.tab-show {
  display: none;
}

@media all and (max-width: 900px) {
  .tab-show {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none;
  }
}

.mo-show {
  display: none;
}

@media all and (max-width: 600px) {
  .mo-show {
    display: block;
  }
}

@media all and (max-width: 600px) {
  .mo-hide {
    display: none;
  }
}

.mo-sm-show {
  display: none;
}

@media all and (max-width: 360px) {
  .mo-sm-show {
    display: block;
  }
}

@media all and (max-width: 360px) {
  .mo-sm-hide {
    display: none;
  }
}

.mo-xsm-show {
  display: none;
}

@media all and (max-width: 320px) {
  .mo-xsm-show {
    display: block;
  }
}

@media all and (max-width: 320px) {
  .mo-xsm-hide {
    display: none;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}

.scroll-custom::-webkit-scrollbar {
  width: 5px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: pink;
}

html.ie .scroll-custom {
  scrollbar-arrow-color: lightblue;
  scrollbar-face-color: lightblue;
  scrollbar-track-color: pink;
}

/* =================== button =================== */
.btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btns-wrap .btn {
  margin: 10px 0;
  margin-left: 10px;
}

.btns-wrap .btn:first-of-type {
  margin-left: 0px;
}

.btns-wrap-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns-wrap-double .btn {
  width: 50%;
}

.btns-wrap-fixed {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 20;
}

.btns-wrap-fixed .btn {
  width: 100%;
  height: 100%;
}

.btns-wrap-doublefix {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  z-index: 20;
}

.btns-wrap-doublefix .btn {
  width: 50%;
  height: 100%;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn:disabled {
  background-color: gray;
  cursor: default;
}

.btn-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-radius: 50%;
}

.btn-round {
  border-radius: 30px;
}

.btn-rounded {
  border-radius: 8px;
}

.btn-shadow {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
}

.btn-sm {
  height: 30px;
}

.btn-md {
  height: 50px;
}

.btn-lg {
  height: 70px;
}

.btn-full {
  width: 100%;
  height: 100%;
}

.btn-main {
  background-color: lightblue;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-main:hover {
    background-color: transparent;
    border: 1px solid lightblue;
  }
}

.btn-main:focus {
  background-color: transparent;
  border: 1px solid lightblue;
}

.btn-sub {
  background-color: pink;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-sub:hover {
    background-color: transparent;
    border: 1px solid pink;
  }
}

.btn-sub:focus {
  background-color: transparent;
  border: 1px solid pink;
}

.btn-gray {
  background-color: gray;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-gray:hover {
    background-color: transparent;
    border: 1px solid gray;
  }
}

.btn-gray:focus {
  background-color: transparent;
  border: 1px solid gray;
}

.btn-gra {
  background: -webkit-gradient(linear, right top, left top, from(lightblue), color-stop(50%, pink), to(lightblue));
  background: linear-gradient(to left, lightblue 0%, pink 50%, lightblue 100%);
  background-size: 200%;
  background-position: left top;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-gra:hover {
    background-position-x: 100%;
  }
}

.btn-gra:focus {
  background-position-x: 100%;
}

.btn-bd-main {
  border: 1px solid lightblue;
  background-color: white;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-bd-main:hover {
    background-color: lightblue;
    color: black;
  }
}

.btn-bd-main:focus {
  background-color: lightblue;
  color: black;
}

.btn-bd-sub {
  border: 1px solid pink;
  background-color: white;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-bd-sub:hover {
    background-color: pink;
    color: black;
  }
}

.btn-bd-sub:focus {
  background-color: pink;
  color: black;
}

.btn-bd-gray {
  border: 1px solid gray;
  background-color: white;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-bd-gray:hover {
    background-color: gray;
    color: black;
  }
}

.btn-bd-gray:focus {
  background-color: gray;
  color: black;
}

.btn-gst-main {
  border: 1px solid lightblue;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-gst-main:hover {
    background-color: lightblue;
    color: black;
  }
}

.btn-gst-main:focus {
  background-color: lightblue;
  color: black;
}

.btn-gst-sub {
  border: 1px solid pink;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-gst-sub:hover {
    background-color: pink;
    color: black;
  }
}

.btn-gst-sub:focus {
  background-color: pink;
  color: black;
}

.btn-gst-gray {
  border: 1px solid gray;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 600px) {
  .btn-gst-gray:hover {
    background-color: gray;
    color: black;
  }
}

.btn-gst-gray:focus {
  background-color: gray;
  color: black;
}

.socail-btn-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socail-btn-wrap .btn {
  margin: 0;
}

.socail-icon-btn-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-kakao {
  background-color: #fae300;
  color: #ffffff;
}

.btn-facebook {
  background-color: #204889;
  color: #ffffff;
}

.btn-naver {
  background-color: #00bf19;
  color: #ffffff;
}

.btn-kakao {
  color: #2b1718;
}

.btn-icon {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* =================== form =================== */
.input-wrap {
  width: 100%;
}

.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 54px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 17px;
  background-color: white;
  font-size: emSize(18);
}

.input:focus {
  border-color: lightblue;
}

.input::-webkit-input-placeholder {
  opacity: 0.7;
}

.input:-ms-input-placeholder {
  opacity: 0.7;
}

.input::-ms-input-placeholder {
  opacity: 0.7;
}

.input::placeholder {
  opacity: 0.7;
}

.input-tarea {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 54px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 17px;
  background-color: white;
  font-size: emSize(18);
  width: 100%;
  height: 500px;
  padding: 20px;
  resize: none;
}

.input-tarea:focus {
  border-color: lightblue;
}

.input-tarea::-webkit-input-placeholder {
  opacity: 0.7;
}

.input-tarea:-ms-input-placeholder {
  opacity: 0.7;
}

.input-tarea::-ms-input-placeholder {
  opacity: 0.7;
}

.input-tarea::placeholder {
  opacity: 0.7;
}

.input-round {
  display: block;
  width: 100%;
  height: 54px;
  border: 1px solid;
  border-radius: 25px;
  padding: 0 17px;
  background-color: white;
  font-size: emSize(18);
}

.input-round:focus {
  border-color: lightblue;
}

.input-round::-webkit-input-placeholder {
  opacity: 0.7;
}

.input-round:-ms-input-placeholder {
  opacity: 0.7;
}

.input-round::-ms-input-placeholder {
  opacity: 0.7;
}

.input-round::placeholder {
  opacity: 0.7;
}

.input-underbar {
  display: block;
  width: 100%;
  height: 54px;
  border: 1px none;
  border-radius: 0;
  padding: 0 17px;
  background-color: white;
  font-size: emSize(18);
  border-bottom: 1px solid;
}

.input-underbar:focus {
  border-color: lightblue;
}

.input-underbar::-webkit-input-placeholder {
  opacity: 0.7;
}

.input-underbar:-ms-input-placeholder {
  opacity: 0.7;
}

.input-underbar::-ms-input-placeholder {
  opacity: 0.7;
}

.input-underbar::placeholder {
  opacity: 0.7;
}

.rate1:before {
  content: "1.0";
}

.rate1:after {
  content: url("../../images/icon/icon_star1.svg");
}

.rate2:before {
  content: "2.0";
}

.rate2:after {
  content: url("../../images/icon/icon_star2.svg");
}

.rate3:before {
  content: "3.0";
}

.rate3:after {
  content: url("../../images/icon/icon_star3.svg");
}

.rate4:before {
  content: "4.0";
}

.rate4:after {
  content: url("../../images/icon/icon_star4.svg");
}

.rate5:before {
  content: "5.0";
}

.rate5:after {
  content: url("../../images/icon/icon_star5.svg");
}

/* =================== layout =================== */
#app,
.wrap {
  min-height: 100%;
}

#page {
  min-height: 100%;
}

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.empty-content {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.empty-content__img-box {
  width: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.empty-content__img-box img {
  width: 100%;
}

.empty-content__txt {
  font-weight: 400;
  color: black;
  opacity: 0.8;
}

/* =================== header =================== */
.header-wrap {
  height: 50px;
}

.com-hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.com-hd-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.com-logo {
  width: 200px;
}

.hd-gnb-wrap {
  width: 50px;
  height: 50px;
}

.gnb-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  cursor: pointer;
  z-index: 20;
}

.gnb-btn.active .gnb-line {
  display: none;
  margin-top: 0;
}

.gnb-btn.active .gnb-line:first-child {
  display: block;
  -webkit-transform: rotate(45deg) translateY(4px);
          transform: rotate(45deg) translateY(4px);
}

.gnb-btn.active .gnb-line:last-child {
  display: block;
  -webkit-transform: rotate(-45deg) translateY(-4px);
          transform: rotate(-45deg) translateY(-4px);
}

.gnb-btn.active ~ .gnb-menu-wrap {
  right: 0;
}

.gnb-line {
  width: 70%;
  height: 5px;
  display: block;
  margin-top: 6px;
  border-radius: 5px;
  background-color: white;
  font-size: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gnb-line:first-child {
  margin-top: 0;
}

.gnb-menu-wrap {
  position: fixed;
  top: 0;
  left: auto;
  right: -100%;
  width: 500px;
  height: 100%;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media all and (max-width: mb) {
  .gnb-menu-wrap {
    width: 100%;
  }
}

.gnb-menu-wrap .gnb-inner {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: white;
}

.gnb-list .link {
  color: black;
}

/* =================== footer =================== */
.com-ft {
  padding: 80px 0;
  background-color: #222;
  color: white;
}

.ft-link-wrap .link {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.ft-logo-wrap {
  padding-top: 30px;
}

.ft-info-wrap {
  padding-top: 30px;
}

.ft-list .title {
  color: rgba(255, 255, 255, 0.6);
}

.ft-list .dec {
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
}

.ft-list.dot .dec {
  padding-left: 15px;
}

.ft-list.dot .dec:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ft-list.bar .dec:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 12px;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ft-list.inline {
  display: inline-block;
  margin-right: 40px;
}

.ft-list.inline:last-child {
  margin-right: 0;
}

/* =================== main =================== */
