@charset "UTF-8";
/* =================== base =================== */
html, body, [class] {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "helvatica", "noto", "spoqa", sans-serif;
  letter-spacing: -0.04em;
  word-break: break-all;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  padding: 5px 10px;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =================== fonts =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 600;
  src: url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 500;
  src: url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 400;
  src: url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 300;
  src: url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 200;
  src: url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "noto";
  font-weight: 100;
  src: url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype");
  font-display: swap;
}

/* ---------- helvetica neue ---------- */
@font-face {
  font-family: "helvatica";
  font-weight: 800;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Hv.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvatica";
  font-weight: 600;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvatica";
  font-weight: 400;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Roman.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "helvatica";
  font-weight: 300;
  src: url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../../fonts/Helvetica_Neue/HelveticaNeueLTStd-Lt.otf") format("opentype");
  font-display: swap;
}

/* ---------- open sans ---------- */
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: url("../../fonts/open_sans/OpenSans-ExtraBold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-ExtraBold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-ExtraBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 700;
  src: url("../../fonts/open_sans/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Bold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Bold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 600;
  src: url("../../fonts/open_sans/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-SemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 400;
  src: url("../../fonts/open_sans/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Regular.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Regular.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "open sans";
  font-weight: 300;
  src: url("../../fonts/open_sans/OpenSans-Light.woff2") format("woff2"), url("../../fonts/open_sans/OpenSans-Light.woff") format("woff"), url("../../fonts/open_sans/OpenSans-Light.ttf") format("truetype"), url("../../fonts/open_sans/OpenSans-Light.otf") format("opentype");
  font-display: swap;
}

/* ---------- nanum square ---------- */
@font-face {
  font-family: "nanum square";
  font-weight: 800;
  src: url("../../fonts/nanumsquare/NanumSquare_acEB.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acEB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acEB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acEB.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nanum square";
  font-weight: 600;
  src: url("../../fonts/nanumsquare/NanumSquare_acB.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acB.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acB.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acB.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nanum square";
  font-weight: 400;
  src: url("../../fonts/nanumsquare/NanumSquare_acR.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acR.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acR.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acR.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nanum square";
  font-weight: 300;
  src: url("../../fonts/nanumsquare/NanumSquare_acL.woff2") format("woff2"), url("../../fonts/nanumsquare/NanumSquare_acL.woff") format("woff"), url("../../fonts/nanumsquare/NanumSquare_acL.ttf") format("truetype"), url("../../fonts/nanumsquare/NanumSquare_acL.otf") format("opentype");
  font-display: swap;
}

/* ---------- spoqa han sans neo ---------- */
@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff2") format("woff2"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff") format("woff"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.ttf") format("truetype"), url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.otf") format("opentype");
  font-display: swap;
}

/* ---------- poppins ---------- */
@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: url("../../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Black.woff") format("woff"), url("../../fonts/poppins/Poppins-Black.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("../../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Bold.woff") format("woff"), url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("../../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-SemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: url("../../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Medium.woff") format("woff"), url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: url("../../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Light.woff") format("woff"), url("../../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: url("../../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: url("../../fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Thin.woff") format("woff"), url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Thin.otf") format("opentype");
  font-display: swap;
}

/* ---------- roboto ---------- */
@font-face {
  font-family: "roboto";
  font-weight: 300;
  src: url("../../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Thin.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: 800;
  src: url("../../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Black.woff") format("woff"), url("../../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Black.otf") format("opentype");
  font-display: swap;
}

/* ---------- pretendard ---------- */
@font-face {
  font-family: "pretendard";
  font-weight: 100;
  src: url("../../fonts/pretendard/Pretendard-Thin.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Thin.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Thin.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 200;
  src: url("../../fonts/pretendard/Pretendard-ExtraLight.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-ExtraLight.woff") format("woff"), url("../../fonts/pretendard/Pretendard-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 300;
  src: url("../../fonts/pretendard/Pretendard-Light.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Light.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Light.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("../../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Regular.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 500;
  src: url("../../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Medium.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Medium.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url("../../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-SemiBold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("../../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Bold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Bold.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 800;
  src: url("../../fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff"), url("../../fonts/pretendard/Pretendard-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "pretendard";
  font-weight: 900;
  src: url("../../fonts/pretendard/Pretendard-Black.woff2") format("woff2"), url("../../fonts/pretendard/Pretendard-Black.woff") format("woff"), url("../../fonts/pretendard/Pretendard-Black.otf") format("opentype");
}

/* =================== helper =================== */
.none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

.ls-0 {
  letter-spacing: 0;
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none !important;
  }
}

.mb-show {
  display: none !important;
}

@media all and (max-width: 600px) {
  .mb-show {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;
}

@media all and (max-width: 600px) {
  .mb-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;
}

@media all and (max-width: 600px) {
  .mb-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}

@media all and (max-width: 900px) {
  .tab-show {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;
}

@media all and (max-width: 900px) {
  .tab-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;
}

@media all and (max-width: 900px) {
  .tab-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none !important;
  }
}

.sm-show {
  display: none !important;
}

@media all and (max-width: 360px) {
  .sm-show {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;
}

@media all and (max-width: 360px) {
  .sm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.sm-show-ib {
  display: none !important;
}

@media all and (max-width: 360px) {
  .sm-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none !important;
  }
}

.xsm-show {
  display: none !important;
}

@media all and (max-width: 320px) {
  .xsm-show {
    display: block !important;
  }
}

.xsm-show-flex {
  display: none !important;
}

@media all and (max-width: 320px) {
  .xsm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.xsm-show-ib {
  display: none !important;
}

@media all and (max-width: 320px) {
  .xsm-show-ib {
    display: inline-block !important;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}

.scroll-custom::-webkit-scrollbar {
  width: 5px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: pink;
}

html.ie .scroll-custom {
  scrollbar-arrow-color: lightblue;
  scrollbar-face-color: lightblue;
  scrollbar-track-color: pink;
}

/* =================== button =================== */
.btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btns-wrap .btn {
  margin: 10px 0;
  margin-left: 10px;
}

.btns-wrap .btn:first-of-type {
  margin-left: 0px;
}

.btns-wrap-double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns-wrap-double .btn {
  width: 50%;
}

.btns-wrap-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  z-index: 20;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.btns-wrap-fixed .btn {
  width: 100%;
  height: 100%;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn:disabled {
  background-color: gray;
  cursor: default;
}

.btn-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-radius: 50%;
}

.btn-round {
  border-radius: 30px;
}

.btn-rounded {
  border-radius: 8px;
}

.btn-shadow {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
}

.btn-sm {
  height: 30px;
}

.btn-md {
  height: 50px;
}

.btn-lg {
  height: 70px;
}

.btn-full {
  width: 100%;
  height: 100%;
}

.btn-main {
  background-color: lightblue;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-main:hover, .btn-main:focus {
  background-color: transparent;
  border: 1px solid lightblue;
}

.btn-sub {
  background-color: pink;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-sub:hover, .btn-sub:focus {
  background-color: transparent;
  border: 1px solid pink;
}

.btn-gray {
  background-color: gray;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-gray:hover, .btn-gray:focus {
  background-color: transparent;
  border: 1px solid gray;
}

.btn-gra {
  background: -webkit-gradient(linear, right top, left top, from(lightblue), color-stop(50%, pink), to(lightblue));
  background: linear-gradient(to left, lightblue 0%, pink 50%, lightblue 100%);
  background-size: 200%;
  background-position: left top;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-gra:hover, .btn-gra:focus {
  background-position-x: 100%;
}

.btn-bd-main {
  border: 1px solid lightblue;
  background-color: white;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-bd-main:hover, .btn-bd-main:focus {
  background-color: lightblue;
  color: black;
}

.btn-bd-sub {
  border: 1px solid pink;
  background-color: white;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-bd-sub:hover, .btn-bd-sub:focus {
  background-color: pink;
  color: black;
}

.btn-bd-gray {
  border: 1px solid gray;
  background-color: white;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-bd-gray:hover, .btn-bd-gray:focus {
  background-color: gray;
  color: black;
}

.btn-gst-main {
  border: 1px solid lightblue;
  color: lightblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-gst-main:hover, .btn-gst-main:focus {
  background-color: lightblue;
  color: black;
}

.btn-gst-sub {
  border: 1px solid pink;
  color: pink;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-gst-sub:hover, .btn-gst-sub:focus {
  background-color: pink;
  color: black;
}

.btn-gst-gray {
  border: 1px solid gray;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-gst-gray:hover, .btn-gst-gray:focus {
  background-color: gray;
  color: black;
}

.socail-btn-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socail-btn-wrap .btn {
  margin: 0;
}

.socail-icon-btn-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-kakao {
  background-color: #fae300;
  color: #ffffff;
}

.btn-facebook {
  background-color: #204889;
  color: #ffffff;
}

.btn-naver {
  background-color: #00bf19;
  color: #ffffff;
}

.btn-kakao {
  color: #2b1718;
}

.btn-icon {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

/* =================== form =================== */
.input-wrap {
  width: 100%;
}

.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 17px;
  border-radius: 6px;
  background-color: white;
  font-size: 1.125em;
  border: 1px solid;
}

.input:hover, .input:focus {
  border-color: lightblue;
}

.input::-webkit-input-placeholder {
  opacity: 0.7;
}

.input:-ms-input-placeholder {
  opacity: 0.7;
}

.input::-ms-input-placeholder {
  opacity: 0.7;
}

.input::placeholder {
  opacity: 0.7;
}

.input.input-tarea {
  width: 100%;
  height: 500px;
  padding: 20px;
  border: 1px solid;
  border-radius: 6px;
  resize: none;
}

.input.input-round {
  border: 1px solid;
  border-radius: 25px;
}

.input.input-underbar {
  border-bottom: 1px solid;
}

.rate1:before {
  content: "1.0";
}

.rate1:after {
  content: url("../../images/icon/icon_star1.svg");
}

.rate2:before {
  content: "2.0";
}

.rate2:after {
  content: url("../../images/icon/icon_star2.svg");
}

.rate3:before {
  content: "3.0";
}

.rate3:after {
  content: url("../../images/icon/icon_star3.svg");
}

.rate4:before {
  content: "4.0";
}

.rate4:after {
  content: url("../../images/icon/icon_star4.svg");
}

.rate5:before {
  content: "5.0";
}

.rate5:after {
  content: url("../../images/icon/icon_star5.svg");
}

/* =================== layout =================== */
#app {
  min-height: 100%;
}

#page {
  min-height: 100%;
}

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.flex-btw-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.empty-content {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.empty-content__img-box {
  width: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.empty-content__img-box img {
  width: 100%;
}

.empty-content__txt {
  font-weight: 400;
  color: black;
  opacity: 0.8;
}

/* =================== header =================== */
.header-wrap {
  height: 100px;
}

@media all and (max-width: 900px) {
  .header-wrap {
    height: 50px;
  }
}

.com-hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.com-hd .l-center {
  min-width: 1px;
}

@media all and (max-width: 900px) {
  .com-hd {
    height: 50px;
  }
}

.com-hd .flex-btw-wrap {
  height: 100px;
}

@media all and (max-width: 900px) {
  .com-hd .flex-btw-wrap {
    height: 50px;
  }
}

@media all and (max-width: 900px) {
  .pc-nav-wrap {
    display: none;
  }
}

.mb-nav-wrap {
  display: none;
  width: 50px;
  height: 50px;
}

@media all and (max-width: 900px) {
  .mb-nav-wrap {
    display: block;
  }
}

.gnb-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  cursor: pointer;
  z-index: 50;
}

.gnb-btn.active .gnb-line {
  display: none;
  width: 60%;
  margin-top: 0;
  background-color: white;
}

.gnb-btn.active .gnb-line:first-child {
  display: block;
  -webkit-transform: rotate(45deg) translateY(1px);
          transform: rotate(45deg) translateY(1px);
}

.gnb-btn.active .gnb-line:last-child {
  display: block;
  -webkit-transform: rotate(-45deg) translateY(-1px);
          transform: rotate(-45deg) translateY(-1px);
}

.gnb-btn.active ~ .gnb-menu-wrap {
  right: 0;
}

.gnb-line {
  display: block;
  width: 70%;
  height: 1px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: black;
  font-size: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gnb-line.gnb-line2 {
  width: 55%;
}

.gnb-line:first-child {
  margin-top: 0;
}

.gnb-menu-wrap {
  z-index: 15;
  position: fixed;
  top: 0;
  left: auto;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* =================== footer =================== */
.com-ft {
  padding: 80px 0;
  background-color: #222;
  color: white;
}

.ft-link-wrap .link {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.ft-logo-wrap {
  padding-top: 30px;
}

.ft-info-wrap {
  padding-top: 30px;
}

.ft-list .title {
  color: rgba(255, 255, 255, 0.6);
}

.ft-list .dec {
  position: relative;
  padding-left: 10px;
  margin-left: 10px;
}

.ft-list.dot .dec {
  padding-left: 15px;
}

.ft-list.dot .dec:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ft-list.bar .dec:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 12px;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ft-list.inline {
  display: inline-block;
  margin-right: 40px;
}

.ft-list.inline:last-child {
  margin-right: 0;
}

/* =================== main =================== */
