.l-center {
  margin: 20px auto;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px;
}
.desc {
  margin-bottom: 20px;
  line-height: 1.5;
}

.scroll-guide {
  .scroll-custom {
    height: 100px;
    background-color: #f5f5f5;
    text-align: center;
  }
}

.flex-items {
  width: 100px;
  height: 50px;
  border: 1px solid red;
}
