/* =================== header =================== */
.header-wrap {
  height: $gnb-height;

  @include mobile {
    height: $m-gnb-height;
  }
}

.com-hd {
  @include fixed;

  width: 100%;
  height: $gnb-height;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: z(header);

  @include mobile {
    height: $m-gnb-height;
  }
}

.com-hd-wrap {
  @include flex {
    @include flex-op(center, space-between);
  }

  height: 100px;
}

.com-logo {
  // size
  width: 200px;
}

// gnb style
.hd-gnb-wrap {
  width: 50px;
  height: 50px;
}

.gnb-btn {
  @include flex-col {
    @include flex-op(center, center);
  }
  @include full;
  @include input-reset;

  position: relative;
  cursor: pointer;
  z-index: z(fixed);

  &.active {
    .gnb-line {
      display: none;
      margin-top: 0;

      &:first-child {
        display: block;
        transform: rotate(45deg) translateY(4px);
      }

      &:last-child {
        display: block;
        transform: rotate(-45deg) translateY(-4px);
      }
    }

    ~ .gnb-menu-wrap {
      right: 0;
    }
  }
}

.gnb-line {
  display: block;
  width: 70%;
  height: 5px;
  margin-top: 6px;
  border-radius: 5px;
  background-color: white;
  font-size: 0;
  transition: all 0.3s;

  &:first-child {
    margin-top: 0;
  }
}

// gnb menu style
.gnb-menu-wrap {
  @include fixed($r: -100%);

  z-index: z(header);
  width: 500px;
  height: 100%;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;

  @include mobile {
    width: 100%;
  }

  .gnb-inner {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: white;
  }
}

.gnb-list {
  .link {
    color: color(text);
  }
}
