// color
$blue-100: lighten(blue, 40%);
$blue-200: lighten(blue, 30%);
$blue-300: lighten(blue, 20%);
$blue-400: lighten(blue, 10%);
$blue-500: blue;
$blue-600: darken(blue, 10%);
$blue-700: darken(blue, 20%);
$blue-800: darken(blue, 30%);
$blue-900: darken(blue, 40%);

$gray-900: black;

$color-set: (
  main: $blue-500,
  sub: $blue-200,
  blue-100: $blue-100,
  blue-200: $blue-200,
  blue-300: $blue-300,
  blue-400: $blue-400,
  blue-500: $blue-500,
  blue-600: $blue-600,
  blue-700: $blue-700,
  blue-800: $blue-800,
  blue-900: $blue-900,
  text: $gray-900,
);

$zIndex-set: (
  popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "../images/icon/",
  img: "../images/img/",
  logo: "../images/logo/",
  object: "../images/object/",
);

// size
$container: 1200px;
$gnb-height: 100px;
$m-gnb-height: 50px;

$media-set: (
  cont: $container,
  tab: 1024px,
  sm: 600px,
  mb: 420px,
);

// button & badge
// btn 높이 추가하면 .btn-ht-크기 가 추가된다.
$btn-height: (
  sm: 30,
  md: 50,
  lg: 70,
);

// btn color 추가하면 .btn-색이름 .btn-bd-색이름 .btn-gst-색이름 이 추가된다.
$btn-color: (
  main: #{color(main)},
  sub: color(sub),
);

// .btn-소셜이름 이 추가된다.
$socail: (
  kakao: #fae300,
  facebook: #204889,
  naver: #00bf19,
  // twitter: #228cce,
);