.l-center {
  margin: 20px auto;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px;
}

.desc {
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn-guide .list {
  border-bottom: 1px solid #e6e6e6;
}

.btn-guide .list-desc {
  padding: 0 10px;
  background-color: #fafafa;
}

.scroll-custom {
  height: 100px;
  background: beige;
  text-align: center;
}

.flex-items {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border: 1px solid red;
}
