/* =================== accordion =================== */
.accordion {
  position: relative;

  border: 1px solid color(border);

  &:first-of-type {
    border-bottom: 0;
  }

  &__label {
    position: relative;
    height: 50px;
    padding: 0 20px;
    padding-right: 50px;
    cursor: pointer;

    .accordion__title {
      @include ellipse(1, 50px);
    }
  }

  &__icon-q,
  &__icon-a {
    @include wh(30px, 30px);

    margin-right: 10px;
  }

  &__open-btn {
    @include absolute($t: 50%, $r: 20px);

    transform: translateY(-50%);
  }

  &__content {
    display: none;
    border-top: 1px solid color(border);
    padding: 20px;

    .accordion__icon-q,
    .accordion__icon-a {
      align-self: flex-start;
    }
  }

  &__title-area {
    padding-bottom: 15px;
  }

  &__close {
    display: none;
  }
}

.accordion__input:checked {
  ~ .accordion__label {
    .accordion__open {
      display: none;
    }
    .accordion__close {
      display: block;
    }
  }
  ~ .accordion__content {
    display: block;
  }
}
