/* =================== button =================== */
// .btn-wrap .btn-fixed-wrap btn-double-wrap ...
.btns-wrap {
  @include flex {
    @include flex-op(center);

    flex-wrap: wrap;
  }

  .btn {
    margin: 10px 0;
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0px;
    }
  }
}

.btns-wrap-double {
  @include flex {
    @include flex-op(center);
  }

  .btn {
    width: 50%;
  }
}

.btns-wrap-fixed {
  @include flex-center {
    gap: 10px;
  }

  z-index: z(fixed);
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 50px;

  .btn {
    @include full;
  }
}

.btn {
  @include input-reset;
  @include flex-center(inline-flex);

  cursor: pointer;

  &:disabled {
    background-color: gray;
    cursor: default;
  }
}

// button style
.btn-circle {
  @include flex-center(inline-flex);
  @include circle(50px);

  border-radius: 50%;
}

.btn-round {
  border-radius: 30px;
}

.btn-rounded {
  border-radius: 8px;
}

.btn-shadow {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
}

// 버튼 높이
@each $name,
$height in $btn-height {
  .btn-#{$name} {
    height: $height + px;
  }
}

.btn-full {
  @include full;
}

// 버튼 색
@each $name,
$color in $btn-color {
  .btn-#{$name} {
    background-color: $color;
    color: color(text); // 어두운배경 따로 color: white지정하기
    transition: all 0.3s;

    @include hover {
      background-color: transparent;
      border: 1px solid $color;
    }
  }
}

.btn-gra {
  @include btn-gra();
}

// 라인 버튼 색
@each $name,
$color in $btn-color {
  .btn-bd-#{$name} {
    border: 1px solid $color;
    background-color: white;
    color: $color;
    transition: all 0.3s;

    @include hover {
      background-color: $color;
      color: color(text);
    }
  }
}

// 고스트 버튼 색(배경색을 상속받아옴)
@each $name,
$color in $btn-color {
  .btn-gst-#{$name} {
    border: 1px solid $color;
    color: $color;
    transition: all 0.3s;

    @include hover {
      background-color: $color;
      color: color(text);
    }
  }
}

// 소셜 버튼
.socail-btn-wrap {
  flex-wrap: wrap;

  .btn {
    margin: 0;
  }
}

.socail-icon-btn-wrap {
  justify-content: center;
}

@each $name,
$color in $socail {
  .btn-#{$name} {
    background-color: $color;
    color: #ffffff;
  }
}

.btn-kakao {
  color: #2b1718;
}

// 아이콘 버튼
.btn-icon {
  @include input-reset;
  @include bg-op;

  width: 50px;
  height: 50px;
}

// 기능 버튼
// .btn-back {
//   @extend .btn-icon;
//   @include bg-url();
// }