/* =================== form =================== */
.input {
  @include input-reset;

  resize: none;
  // input은 무조건 input-wrap안에 사용
  &-wrap {
    width: 100%;
  }
  // select
  &-selec {
    @include input-style() {
      cursor: pointer;
    }
    &--round {
      @include input-style($bd-rd: 25px) {
        cursor: pointer;
      }
    }
    &--underbar {
      @include input-style($bd-wi: 0, $bd-rd: 0) {
        border-bottom: 1px;
        cursor: pointer;
      }
    }
  }
  // input text
  &-txt {
    @include input-style();
    &--round {
      @include input-style($bd-rd: 25px);
    }
    &--underbar {
      @include input-style($bd-wi: 0, $bd-rd: 0) {
        border-bottom: 1px;
      }
    }
  }
  // textarea
  &-tarea {
    @include input-style($h: 200px);
    &--round {
      @include input-style($h: 200px, $bd-rd: 25px);
    }
    &--underbar {
      @include input-style($h: 200px, $bd-wi: 0, $bd-rd: 0) {
        border-bottom: 1px;
      }
    }
  }
}
