/* =================== list =================== */
.list {
  @include flex {
    align-items: center;
  }

  &-title {
    width: 200px;
  }

  &-desc {
    width: 100%;
  }
}

.list-wrap {
  position: relative;

  &--underline {
    .list {
      border-top: 1px solid #e6e6e6;
      padding: 10px 0;
    }

    .list:first-of-type {
      border-top: 0;
    }
  }

  &--side {
    .list {
      @include flex-op(center, space-between);
    }

    .list-title {
      min-width: 150px;
      width: auto;
    }

    .list-desc {
      width: auto;
    }
  }
}
