.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &.is-disabled {
    background-color: gray;
    cursor: default;
  }
  // .btn-wrap .btn-fixed-wrap btn-double-wrap ...
  &-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .btn {
      margin: 10px 0;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0px;
      }
    }
  }
  &-wrap--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    .btn {
      margin: 10px 0;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0px;
      }
    }
  }
  &-double-wrap {
    display: flex;
    align-items: center;
    .btn {
      width: 50%;
    }
  }
  &-double-wrap--side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
      width: 48%;
    }
  }
  &-fixed-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: z(fixed);
    .btn {
      width: 100%;
      height: 100%;
    }
  }
  &-fixed-wrap--double {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: z(fixed);
    .btn {
      width: 50%;
      height: 100%;
    }
  }
  // button style
  &-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &-round {
    border-radius: 25px;
  }
  &-round.btn-ht-sm {
    border-radius: 15px;
  }
  &-round.btn-ht-lg {
    border-radius: 30px;
  }
  &-rounded {
    border-radius: 8px;
  }
  &-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07);
  }
  // &gradi {
  // gradiant 생성하는 믹스인을 받아옴.
  // }
}
// 버튼 높이
@each $name, $height in $btn-height {
  .btn-ht-#{$name} {
    height: $height + px;
  }
}
// 버튼 위드
@each $name, $width in $btn-width {
  .btn-wi-#{$name} {
    width: $width + px;
  }
}
.btn-wi-100 {
  width: 100%;
}
// 버튼 색
@each $name, $color in $btn-color {
  .btn-#{$name} {
    background-color: $color;
    color: color(text); // 어두운배경 따로 color: white지정하기
  }
}
// 라인 버튼 색
@each $name, $color in $btn-color {
  .btn-bd-#{$name} {
    border: 1px solid $color;
    background-color: white;
    color: $color;
  }
}
// 고스트 버튼 색(배경색을 상속받아옴)
@each $name, $color in $btn-color {
  .btn-gst-#{$name} {
    border: 1px solid $color;
    color: $color;
  }
}
// 소셜 버튼
// icon button: btn btn-circle btn-kakao
// text button: btn btn-kakao
.socail-btn-wrap {
  flex-wrap: wrap;
  .btn {
    margin: 0;
  }
}

.socail-icon-btn-wrap {
  justify-content: center;
}
@each $name, $color in $socail {
  .btn-#{$name} {
    background-color: $color;
    color: #ffffff;
  }
}
.btn-kakao {
  color: #2b1718;
}
