.list {
  display: flex;
  align-items: center;
  &-wrap {
    position: relative;
  }
  &-title {
    width: 200px;
  }
  &-desc {
    width: 100%;
  }
  &-wrap--side {
    .list {
      justify-content: space-between;
      align-items: center;
    }
    .list-title {
      min-width: 150px;
      width: auto;
    }
    .list-desc {
      width: auto;
    }
  }
}
